Babel==1.3
Beaker==1.5.4
Cython==0.23.4
Django==1.8.3
Flask==0.10.1
GnuPGInterface==0.3.2
IPy==0.81
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
MySQL-python==1.2.3
PIL==1.1.7
Paste==1.7.5.1
Pillow==2.9.0
PyGithub==1.25.2
PyJWT==1.4.0
PyPDF2==1.24
PyXB==1.2.3
PyYAML==3.11
SSSDConfig==1.12.5
South==1.0.2
Tempita==0.5.1
Twisted==15.1.0
Unidecode==0.4.18
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
argparse==1.3.0
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
blivet==0.61.15
boto==2.38.0
cassandra-driver==2.7.2
cassandra-pylib==0.0.0
celery==3.1.18
ceph-deploy==1.5.24
characteristic==14.3.0
chardet==2.2.1
coverage==3.7
cql==1.4.0
cssselect==0.9.1
decorator==3.4.0
devassistant==0.9.4
django-appconf==1.0.1
django-braces==1.8.1
django-cassandra-engine==0.5.2
django-celery==3.1.16
django-filter==0.10.0
django-imagekit==3.2.6
django-oauth-toolkit==0.9.0
django-rest-framework-social-oauth2==1.0.1
djangorestframework==3.2.1
dropbox==2.2.0
duplicity==0.6.25
ecdsa==0.11
execnet==1.2.0
fros==1.0
futures==3.0.3
glusterfs-api==3.5.6
gunicorn==19.3.0
html5lib==0.99999
httplib2==0.9.1
humanize==0.5
idna==2.0
iniparse==0.4
ipaddr==2.1.10
itsdangerous==0.24
javapackages==4.1.0
jwt==0.3.2
kitchen==1.2.1
kombu==3.0.26
langtable==0.0.29
lockfile==0.9.1
loremipsum==1.0.5
lxml==3.3.6
mechanize==0.2.5
mosquitto==1.2.3
mysqlclient==1.3.6
ndg-httpsclient==0.3.2
netifaces==0.5
ntplib==0.3.2
oauthlib==1.0.1
paho-mqtt==1.1
paramiko==1.15.1
pbr==1.6.0
pexpect==3.1
pilkit==1.1.12
pisa==3.0.33
policycoreutils-default-encoding==0.1
progress==1.2
pwquality==1.2.4
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958
pycups==1.9.70
pycurl==7.19.3.1
pygobject==3.14.0
pygpgme==0.3
pyinotify==0.9.6
pykickstart==1.99.65
pyliblzma==0.5.3
pyparsing==2.0.3
pyparted==3.10.4
pyserial==2.7
python-augeas==0.5.0
python-cloudfiles==1.7.10
python-distutils-extra==2.38
python-dmidecode==3.10.13
python-meh==0.32
python-nss==0.16.0
python-openid==2.2.5
python-social-auth==0.2.12
python-xlib==0.15rc1
pytz==2012d
pyxattr==0.5.3
pyxdg==0.25
remoto==0.0.25
reportlab==3.5.55
requests==2.7.0
requests-oauthlib==0.5.0
rpm-python==4.12.0.1
rsa==3.1.1
scdate==1.10.9
seobject==0.1
sepolicy==1.1
service-identity==14.0.0
setroubleshoot==1.1
simplejson==3.8.1
six==1.10.0
slip==0.6.4
slip.dbus==0.6.4
sslstrip==0.9
stevedore==1.7.0
stripe==1.22.3
thrift==0.9.3
ufw==0.34
urlgrabber==3.10.1
urllib3==1.10.4
virtualenv==12.0.7
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.0
wsgiref==0.1.2
xhtml2pdf==0.0.6
yum-langpacks==0.4.5
yum-metadata-parser==1.1.4
zope.event==4.0.3
zope.interface==4.1.1
